!!! 5
html(lang="fr")
    head
        title=title
        meta(charset="utf-8")
        meta(name="description" content=descript)
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        link(rel="icon" type="image/png" href="favicon.png")
        link(rel="stylesheet" href="/galiris.css")
    body
        p.texte Photographie artistique et création graphique
        a.mail(href="mailto:c&c@galiris.com") c&c@galiris.com
        img.centered(src="/GALIRIS_LOGO.jpg")