!!! 5
html(lang="fr")
    head
        title="C&C Galiris"
        meta(charset="utf-8")
        meta(name="description" content="Galiris, Photographie artistique et création graphique")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        link(rel="icon" type="image/png" href="favicon.png")
        link(rel="stylesheet" href="/CSS/galiris.css")
        script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
        script(type="text/javascript" src='/JS/galiris.js')
        script(type="text/javascript" src='/JS/ga.js')
    body
        div#wrapper
            div#content
                div.logo
                    h1.title C&C Galiris
                    h2.subtitle Photographie artistique et création graphique
        div#footer
            a.mail(target="_blank" href="mailto:CandC@galiris.com") CandC@galiris.com