html {
    background: url(/GALIRIS_BACKGROUND.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
a {
    text-decoration: none !important;
}
a:hover {
    font-weight:bold;
}
.centeimg {
    width:150px;
    height:150px;
    position: fixed;
    top: 10%;
    left: calc(50% - 75px);
    border: 1px solid red;
}
.centertext {
    position: fixed;
    text-align:center;
    top: calc(10% - 20px);
    left: calc(50% + 100px);
}
.text {
    color: white;
    font-family: Calibri, sans-serif;
    
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}